.color-option {
    border: 3px solid #fd0054;
}

.gear-check {
    background-color: #fd0054;
}

.navbar-inverse .navbar-brand span {
    color: #fd0054;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #fd0054;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #fd0054;
}

.testimonial span {
    color: #fd0054;
}

.navbar-nav>li>.dropdown-menu {
    border-top: 3px solid #fd0054;
}

#testimonials .carousel-indicators li {
    background-color: #fd0054;
}